@keyframes welcome-fade-out-animation {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: block;
  }
}

.loader-fade-out {
  opacity: 0;
  display: none;
  animation-name: welcome-fade-out-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.wrapper {
  flex: auto;
}

kt-app {
  width: 100%;
  height: 100%;
}
